###########
# IDEA #
###########

out/*
.idea/*
*.iml

###########
# MAVEN #
###########

target/*

###########
# DOLPHIN #
###########

.directory

###########
# JAVA #
###########

*.class
*.jar
*.ear
*.war
